      .react-autosuggest__container {
  /*   border: 1px solid rgb(255, 0, 0) !important;  */
      position: relative;
      }
    
    .react-autosuggest__input{
      /* border: 1px solid rgb(255, 0, 0) !important; */
      width: 100%;
      height: 100%;
      padding: 10px 20px;
      font-family: Helvetica, sans-serif;
      font-weight: 300;
      font-size: 16px;
      border: 1px solid rgba(170, 170, 170, 0);
      border-radius: 4px;
    }
  
    .react-autosuggest__input:action{
      /* border: 1px solid rgb(255, 0, 0) !important; */
      /* border: 1px solid rgba(170, 170, 170, 0) !important; */
      border-radius: 4px;
    }
  
    .react-autosuggest__input--focused {
      outline: none;
    }
    
    .react-autosuggest__input--open {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    
    .react-autosuggest__suggestions-container {
      /* border: 1px solid rgb(255, 0, 0) !important; */
      width: 100%;
    }
    
    .react-autosuggest__suggestions-container--open {
      border: 1px solid rgba(255, 0, 0, 0);
      display: block;
      position: absolute;
      top: 51px;
      width: 100%;
      text-align: left;
      border: 1px solid #aaa;
      background-color: #fff;
      font-family: Helvetica, sans-serif;
      font-weight: 300;
      font-size: 16px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
  
      /* le prossime due istruzioni fanno in modo da rendere il contenitore scrollabile */
      max-height: 200px;
      overflow-y: scroll;
      z-index: 10000;
    }
  
    /* Grandezza autodimensionabile nel menu a tendina */
    .react-autosuggest__suggestions-list {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
    
    .react-autosuggest__suggestion {
      cursor: pointer;
      padding: 10px 20px;
      padding-left: 3%;
      background-color: white;
      
      -webkit-transition: padding-left 200ms linear;
      -moz-transition: padding-left 200ms linear;
      -o-transition: padding-left 200ms linear;
      transition: padding-left 200ms linear;
    }
  
    .react-autosuggest__suggestion--highlighted {
      background-color: rgb(240, 240, 240);
      padding-left: 6%;
    }
  
    .RiDimensionamento{
  /*     border: 1px solid red; */
      height: 100%;
      width: 100%; 
    }
  
    .react-autosuggest__input{
  /*     border: 1px solid rgba(255, 0, 0, 0) !important; */
      display: inline ;
      margin-top: 8px; 
    }
  

    .form-SearchBar{
      width: 100% ;
      height: 100% ;
      display: inline-flex;
    }
  
  
    